/*********************************************/
/* document                                  */
/*********************************************/
:root {
  --menu-width: calc(5Em + 5vw);
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  font-family: Montserrat, sans-serif;
  font-weight: normal;
  font-size: calc(1em + 1vw);
}

li {
  list-style: none;
  opacity: 1;
}

a {
  text-decoration: none;
}

/*********************************************/
/* page-specific text and bg styling         */
/*********************************************/
.about-bg {
  background: #d5eaff;
}

.work-bg {
  background-color: #141517;
}

.journal-bg {
  background: #ffffff;
}

.about-text {
  color: black;
}

.work-text {
  color: white;
}

/*********************************************/
/* menu                                      */
/*********************************************/
.header {
  background-color: #eeddee;
  opacity: 0.9;
  height: 100vh;
  width: var(--menu-width);
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1em;
  z-index: 5;
}

.menu-btn {
  display: none;
}

.menu-icon {
  display: none;
}

/* menu - hide h1 */
h1 {
  display: none;
}

/* menu - layout */
/* menu - background to float over text in portrait mode */
/* menu - hide h1 */
/* menu - ascii */
.ascii-header {
  margin: 0;
  /* white-space: pre; */
}

#ascii-abbreviation {
  display: none;
}

.ascii-title {
  margin: auto 0px;
  font-size: 0.6em;
}

/* menu - navbar */
nav {
  font-weight: 300;
  text-transform: uppercase;
  font-size: 1.5em;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/*********************************************/
/* grid layout                               */
/*********************************************/
.main-grid {
  background-color: #ff00ff;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
}

.grid-pad {
  padding-left: var(--menu-width);
}

.top-image {
  height: 100vh;
  background-color: #ffddff;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

/*********************************************/
/* content                                   */
/*********************************************/
.content-top {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* margin: 0px; */
}

.content-work {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* margin: 0px; */
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0px;
}

p {
  max-width: 800px;
  line-height: 1.6;
  font-size: 1.1em;
}

.videozone {
  max-width: 800px;
  width: 75vw;
}

h2 {
  text-transform: uppercase;
  font-weight: 500;
}

#nova-article {
  display: grid;
  grid-template-columns: 100%;
}

#nova-article > section {
  border-width: 2px;
  border-style: solid;
  border-color: #f00;
}

#nova-technical {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

/*********************************************/
/* links                                     */
/*********************************************/
/* gradient effect on mouseover */
a, pre {
  background: linear-gradient(to right, #30CFFF 0%, #FF0867 25%, #30CFFF 50%, #FF0867 75%, #30CFFF 100%);
  background-size: 200% 200%;
  -webkit-background-clip: text;
  /* -webkit-text-fill-color: transparent; */
  text-decoration: underline;
  transition: color 2s;
  color: inherit;
  animation: frontpage-gradient 20s linear infinite;
}

a:hover {
  color: rgba(0, 0, 0, 0.2);
}

.ascii-title > a, pre, li > a, .lang > div > a {
  text-decoration: none;
}

li > a.work {
  text-decoration: none;
  color: #010101;
}

/*********************************************/
/* ascii art                                 */
/*********************************************/
.ascii, .ascii-work {
  font-family: source-code-pro, Menlo, Roboto Mono, Lucida Console, Consolas, Courier new, Courier, monospace;
  font-weight: 500;
  line-height: 100%;
}

.ascii-work {
  color: #ffffff;
}

.ascii-frontpage {
  font-size: 0.6em;
  line-height: 1;
  padding: 0;
}

#ascii-frontpage-1 {
  transform: rotate(1deg);
  position: absolute;
  background: linear-gradient(30deg, #30CFFF 0%, #FF0867 25%, #30CFFF 50%, #FF0867 75%, #30CFFF 100%);
  background-size: 200% 200%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: frontpage-gradient 200s linear infinite;
}

#ascii-frontpage-2 {
  transform: rotate(-1deg);
  position: absolute;
  background: linear-gradient(160deg, #FF0867 0%, #30CFFF 25%, #FF0867 50%, #30CFFF 75%, #FF0867 100%);
  background-size: 200% 200%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: frontpage-gradient 200s linear infinite;
}

#ascii-frontpage-3 {
  color: rgba(0, 0, 0, 0);
}

@keyframes frontpage-gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
/* menu - ascii */
.ascii-header {
  margin: 0;
  /* white-space: pre; */
}

#ascii-abbreviation {
  display: none;
}

.ascii-title {
  margin: auto 0px;
  font-size: 0.4em;
}

/*********************************************/
/* mobile                                    */
/*********************************************/
@media (max-width: 700px), (pointer: coarse) {
  /* menu - layout */
  .menu {
    /*width: 100%;*/
    /*height: auto;*/
    /*flex-direction: row;*/
    /*justify-content: flex-start;*/
    /*white-space: nowrap;*/
    /*padding: 0px 16px;*/
    /*margin: 1px 0px 0px 0px;*/
  }

  /*********************************************/
  /* menu                                      */
  /*********************************************/
  /* menu - background to float over text in portrait mode */
  .header {
    position: fixed;
    width: 100%;
    height: 2em;
    /*background-color: #141517;*/
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
  }

  .menu-empty {
    display: none;
  }

  /* menu - ascii */
  .ascii-header {
    display: inline-block;
  }

  #ascii-abbreviation {
    display: inline-block;
    font-size: 1.6em;
  }

  .ascii-title {
    display: none;
  }

  .ascii-header > a, pre {
    text-decoration: none;
  }

  /* menu - navbar */
  .menu {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: #ff0000;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    font-size: 2em;
    visibility: hidden;
  }

  .menu-icon {
    display: block;
    font-size: 1.6em;
    z-index: 10;
  }

  .menu-btn:checked ~ .menu {
    visibility: visible;
  }

  /* content */
  .content-top {
    justify-content: flex-start;
  }

  .videozone {
    padding-top: calc(20px + 4.3vw);
    max-width: 93vw;
    width: 93vw;
  }

  /* ascii */
  .ascii-frontpage {
    font-size: calc((100vw - 32px) * 0.02);
  }

  .grid-pad {
    padding: 0 1em;
  }

  /* videos */
  .video-row {
    display: grid;
    grid-template-columns: 0px auto;
  }
}

/*# sourceMappingURL=sass.css.map */
