/*********************************************/
/* document                                  */
/*********************************************/

:root {
	--menu-width: calc(5Em + 5vw);
}

* {
	margin: 0;
	padding: 0;
	text-decoration: none;
	box-sizing: border-box;
}

body {
	font-family: Montserrat, sans-serif;
	font-weight: normal;
	font-size: calc(1em + 1vw);
}

li {
    list-style: none;
    opacity: 1;
}

a {
    text-decoration: none;
}