/*********************************************/
/* grid layout                               */
/*********************************************/

.main-grid {
	background-color: #ff00ff;
	width: 100%;
	display: grid;
	grid-template-columns: 1fr;
}

.grid-pad {
	padding-left: var(--menu-width);
}

.top-image {
	height: 100vh;
	background-color: #ffddff;
	justify-content: center;
	align-items: center;
	display: flex;
	flex-direction: column;
}
