/*********************************************/
/* menu                                      */
/*********************************************/

.header {
	background-color: #eeddee;
	opacity: 0.9;
	height: 100vh;
	width: var(--menu-width);
	position: fixed;
	left: 0;
	top: 0;
	display:  flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 1em;
	z-index: 5;
}

	.menu-btn {
		display: none;
	}
	.menu-icon {
		display: none;
	}
/* menu - hide h1 */

h1 {
	display: none;
}

/* menu - layout */

// .menu {
// 	display: flex;
// 	flex-direction: column;
// 	position: fixed;
// 	width: 180px;
// 	height: 100vh;
// 	padding: 16px 16px;
// 	z-index: 5;
// }

/* menu - background to float over text in portrait mode */

// .menu-background {
// 	z-index: 1;
// }

/* menu - hide h1 */

// h1 {
// 	display: none;
// }

/* menu - ascii */

.ascii-header {
	margin: 0;
	/* white-space: pre; */
}

#ascii-abbreviation {
	display: none;
}

.ascii-title {
	margin: auto 0px;
	font-size: 0.6em;
}

/* menu - navbar */

nav {
	font-weight: 300;
	text-transform: uppercase;
	font-size: 1.5em;
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

// .ig-logo {
// 	height: 1.5em;
// }

// /* menu - language selector */

// .lang > div {
// 	position: fixed;
// 	top: 16px;
// 	left: 16px;
// 	z-index: 10;
// }