/*********************************************/
/* page-specific text and bg styling         */
/*********************************************/

.about-bg {
	background: #d5eaff;
	}

.work-bg {
	background-color: #141517;
}

.journal-bg {
	background: #ffffff;
}

.about-text {
	color: rgba(0, 0, 0, 1.0);
}

.work-text {
	color: rgba(255, 255, 255, 1.0);
}