/*********************************************/
/* ascii art                                 */
/*********************************************/

.ascii, .ascii-work {
	font-family: source-code-pro, Menlo, Roboto Mono, Lucida Console, Consolas, Courier new, Courier, monospace;
	font-weight: 500;
	line-height: 100%;
}

.ascii-work {
	color: #ffffff;
}

.ascii-frontpage {
	font-size: 0.6em;
	line-height:1;
	padding: 0;
}
#ascii-frontpage-1 {
	transform: rotate(1deg);
	position: absolute;
	background: linear-gradient(30deg, #30CFFF 0%, #FF0867 25%, #30CFFF 50%, #FF0867 75%, #30CFFF 100%);
	background-size: 200% 200%;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	animation: frontpage-gradient 200s linear infinite;
}

#ascii-frontpage-2 {
	transform: rotate(-1deg);
	position: absolute;
	background: linear-gradient(160deg, #FF0867 0%, #30CFFF 25%, #FF0867 50%, #30CFFF 75%, #FF0867 100%);
	background-size: 200% 200%;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	animation: frontpage-gradient 200s linear infinite;
}

#ascii-frontpage-3 {
	color: rgba(0, 0, 0, 0.0);
}

@keyframes frontpage-gradient {
	0%{background-position:0% 50%}
	50%{background-position:100% 50%}
	100%{background-position:0% 50%}
}

/* menu - ascii */

.ascii-header {
	margin: 0;
	/* white-space: pre; */
}

#ascii-abbreviation {
	display: none;
}

.ascii-title {
	margin: auto 0px;
	font-size: 0.4em;
}
