/*********************************************/
/* links                                     */
/*********************************************/

/* gradient effect on mouseover */
a, pre {
	background: linear-gradient(to right, #30CFFF 0%, #FF0867 25%, #30CFFF 50%, #FF0867 75%, #30CFFF 100%);
	background-size: 200% 200%;
	-webkit-background-clip: text;
	/* -webkit-text-fill-color: transparent; */
	text-decoration: underline;
	transition: color 2s;
	color: inherit;
	animation: frontpage-gradient 20s linear infinite;
}

a:hover {
	color: rgba(0, 0, 0, 0.2);
}

.ascii-title > a, pre, li>a, .lang > div > a {
	text-decoration: none;
}

li>a.work {
	text-decoration: none;
	color: rgba(1, 1, 1, 1);
}