.journal {
	display: grid;
	padding-top: calc(20px + 4.3vw);
}

.journal > div {
	display: flex;
	flex-flow: row nowrap;
	max-height: 50vw;
}

.journal-left {
	justify-content: flex-start;
}

.journal-centre {
	justify-content: center;
}

.journal-right {
	justify-content: flex-end;
}

.journal > div > img {
	max-height : 50vw;
	max-width: 50vw;
	margin-top: 2vw;
	margin-bottom: 2vw;
}

@media (max-width: 700px), (pointer: coarse) {
	.journal > div {
		display: flex;
		max-height: none;
		justify-content: center;
	}
	
	.journal > div > img {
		max-height : none;
		max-width: 90vw;
		margin-top: 2vw;
		margin-bottom: 2vw;
	}
}