* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Avenir;
}

/* #page-header {
	border: 10px black solid;
	text-align: center;
	position: sticky;
	top: 0;
	background-color: #FFF;
	} */

	#page-header {
		position: fixed;
	}

	#page-header>a {
		text-decoration: none;
		color: #000;
		position: relative;
		top: 2%;
		left: 10px;
	}

	h1 {
		display: inline-block;
		text-align: center;
		font-weight: 900;
		white-space: nowrap;
		font-size: calc(1.2em + 1.5vw);
	}

	pre {
		font-family: monospace;
		font-size: 3vw;
		text-align: center;
	}

	.container {
		/* grid-template-columns: 1fr 1fr 1fr; */
	}

	.top-video {
		width: 100%;
	}

	video#bgvideo {
		position: fixed;
		top: 50%;
		left: 50%;
		min-width: 100%;
		min-height: 100%;
		width: auto;
		height: auto;
		z-index: -100;
		-ms-transform: translateX(-50%) translateY(-50%);
		-moz-transform: translateX(-50%) translateY(-50%);
		-webkit-transform: translateX(-50%) translateY(-50%);
		transform: translateX(-50%) translateY(-50%);
		background: url(placeholder.jpg) no-repeat;
		background-size: cover;
	}

.project-title {
	position: absolute;
	bottom: 10%;
	left: 10px;
	font-size: 2em;
}
	.child-left-1 {
		grid-column: 1 / span 1;
	}

	.child-left-2 {
		grid-column: 1 / span 2;
	}

	.child-full {
		grid-column: 1 / span 3;
	}

	.child-middle {
		grid-column: 2 / span 1;
	}

	.child-right-1 {
		grid-column: 3 / span 1;
	}

	.child-right-2 {
		grid-column: 2 / span 2;
	}