// -----------------------------------------------------------------------------
// This file contains all styles related to the menu background component,
// which is a solid background behind the menu in mobile mode.
// -----------------------------------------------------------------------------

.menu-background {
	display: block;
	position: fixed;
	width: 100%;
	height: $menu-height;
	
	@include respond-to ('medium'){
		display: none;
	}
}