// -----------------------------------------------------------------------------
// This file contains all styles related to the project title displayed over
// the image at the top of each project page.
// -----------------------------------------------------------------------------

.project-title {
	color: #fff;
	position: absolute;
	bottom: 2em;
	right: 0.5em;
	font-size: 2em;
	text-transform: uppercase;
	z-index: 3;
	@include respond-to ('medium') {
		bottom: 16px;
	}
}
