// -----------------------------------------------------------------------------
// This file contains all styles related to the project title displayed over
// the image at the top of each project page.
// -----------------------------------------------------------------------------

.project-title {
	color: #fff;
	position: absolute;
	bottom: 16px;
	right: 20px;
	font-size: 2em;
	text-transform: uppercase;
	z-index: 3;
}
