.work-bg {
	background: $work-bg-color;
}

.work-bg .menu-btn:checked ~ .menu {
    visibility: visible;
    z-index: 10;
    background-color: $work-bg-color;
  }
  
.work-bg .menu-background {
  background-color: $work-bg-color;
}