* {
	margin: 0;
	box-sizing: border-box;
	font-size: 1.2em;
}
.l_grid-main {
	display: grid;
	width: 100vw;
	grid-template-columns: 180px 2000px;
}

.l_menu {
	background-color: #ff0000;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.l_main {
	background-color: #0000ff;
}

.l_menu_fixed {
	position: fixed;
}